.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin:20px;

}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin:20px;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

  }

.form label{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #728daa;
}

.form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #728daa;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    color: #728daa;
}

.form input:focus{
    outline: none;
    border-color: #728daa;
    box-shadow: 0 0 10px rgba(114, 141, 170, 0.5);
}


.form button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #03274e;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.form button:hover{
    background-color: #5c7899;
}


.form input[type="submit"]{
    width: auto;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #03274e;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
